*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    background: url(../image/top-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.menu-content{
    padding-top: 20px;
}

.text-menu{
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.text-menu:hover{
    cursor: pointer;
    color:#008ed6 !important;
    background: url(../image/devider.png) center bottom no-repeat;
    
    
}

.header-text{
    margin-top: 100px;
}

.header-left{
    margin-left: 22px;
    color: white;

}

.header-left h3{
    font-size: 14px;
    color: #008ed6;
    letter-spacing: 1px;
    font-weight: bold;
}

.header-left h1{
    font-size: 42px;
    margin: 18px 0 35px 0;
}

.header-left p{
    font-size: 18px;
    width: 92%;
}

.header-left button{
    margin: 40px 20px 0 0;
    padding: 11px 25px;
    background: transparent;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(189, 187, 187);
    border-radius: 4px;
    transition: 0.4s;
}

.btn-one{
    background-color: #008ed6 !important;
    border: none !important;
}

.btn-one:hover{
    background-color:white !important;
    color: #008ed6 !important;
    border: none !important;
    transition: 0.4s;
}

.btn-two:hover{
    background-color: #008ed6 !important;
    border: none !important;
    transition: 0.4s;
}

.header-right{
    margin: 5px 0 0 0;
    width: 100%;
}
.header-right img{
    margin-left: 200px;
}

/* ******* amazing style        ******** */
.amazing{
    padding: 80px 0;
    border-bottom: 1px solid lightgray;
}

.amazing-top h5{
    font-weight: bold;
    font-size: 14px;
    color: #008ed6;
    letter-spacing: 2px;
}

.amazing-top h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 45px;
}

.devid{
    display: inline-block;
    height: 2px;
    width: 30px;
    background-color: #008ed6;
}

.amazing-list{
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}

.amazing-list i{
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50%;
    line-height: 80px;
    font-size: 27px;
    border: 1px solid #e7e6e6;
    color: #008ed6;
    margin-bottom: 30px;
}
}

.amazing-list h3{
    font-size: 24px;
}

.amazing-list p{
    font-size: 18px;
    margin-top: 18px;
    color: #b4b4b4;
}

/* beautiful style */
.beautiful{
    padding: 100px 0 0px 0;
}

.beautiful-right{
    margin-top: 40px;
}
.beautiful-right h5{
    font-weight: bold;
    font-size: 14px;
    color: #008ed6;
    letter-spacing: 2px;
    margin-bottom: 19px;
    text-transform: uppercase;
}
.beautiful-right h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 25px;
}
.beautiful-right p{
    margin-top: 25px;
    color: #b4b4b4;
    width: 70%;
}

.beautiful-icon ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.beautiful-icon ul li i{
    height: 40px;
    color: #008ed6;
    /* margin-right: 16px; */
    width: 50px;
    line-height: 40px;
    text-align: left;
}
.extra{
    width: 45px !important;
}

/* super style */

.super{
    padding: 100px 0 80px 0;
    background-color:  #f2f2f2;
}
.super-right{
    padding: 0;
}
.super-img{
    padding: 0;
}
.super-img img{
    width: 100%;
    padding-left: 0;
    padding-right: 28px;
}

/* plan style */

.plan{
    width: 100%;
    height: auto;
    background: url(../image/mid-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 150px 0;
}

.plans-top h5{
    font-weight: bold;
    font-size: 14px;
    color: #008ed6;
    letter-spacing: 1px;
}

.plans-top h2{
    font-size: 36px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.plan-text{
    margin-top: 55px;

}

.plan-text .pera{
    color: white;
    padding: 0 32px;
    font-size: 24px;
    font-weight: 400;
    margin: 18px 0;
}
.plan-img{
    text-align: center;
}

.plan-id{
    padding: 0;
}

.plan-id p{
    margin: 0 0 0 -31px;
}

.pera-1{
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
}
.pera-2{
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

/* like style */

.like{
    background-color: black;
    padding: 40px 0;
    height: auto;
    width: 100%;
}

.like-text{
    color: white;
}

.like-text h2{
    font-size: 36px;
    width: 100%;
}
.like-text h2 span{
    font-size: 36px;
    color: #929194;
    font-weight: 200;
}

.like-btn button{
    margin: 0 20px 0 0;
    padding: 10px 25px;
    background: transparent;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(189, 187, 187);
    border-radius: 4px;
    transition: 0.4s;

}

/* price style */

.price{
    padding: 85px 0;
}

.price-head h5{
    font-weight: bold;
    font-size: 14px;
    color: #008ed6;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.price-head h2{
    font-size: 36px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.price-box{
    border: 1px solid #d8d8d8;
    margin-top: 71px;
    text-align: center;
}
.price-top{
    padding: 20px 0;
    border-bottom: 1px solid #d8d8d8;
}
.price-top h3{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    transition: 0.4s;
}
.price-body{
    border-bottom: 1px solid #d8d8d8;
    padding: 16px 0;
    transition: 0.4s;
}
.price-body p{
    margin: 0;
    font-size: 18px;
    color: #999999;
}
.price-body h2{
    margin: 0;
    font-size: 75px;
    font-weight: bold;
    position: relative;
}
.price-body h2::before{
    position: absolute;
    content: '$';
    top: 14px;
    left: 32%;
    font-size: 30px;
}
.price-body .free::before{
    position: absolute;
    content: '$';
    top: 14px;
    left: 38% !important;
    font-size: 30px;
}

.price-bottom{

}
.price-bottom p{
    color: #999999;
    font-size: 18px;
    margin: 40px;
}
.price-bottom p span{
    color: #008ed6;
}
.price-bottom button{
    padding: 11px 40px;
    margin-bottom: 30px;
    background: transparent;
    border: 1px solid #d8d8d8;
    font-size: 14px;
    font-weight: bold;
    color: #008ed6;
    transition: 0.4s;
}
.price-box:hover .price-top h3{
    color: #008ed6;
    transition: 0.4s;
}
.price-box:hover .price-body{
    background: #008ed6;
    transition: 0.4s;
}
.price-box:hover .price-body p,.price-box:hover .price-body h2{
    color: white;
    transition: 0.4s;
}
.price-box:hover button{
    background-color: #008ed6;
    color: white;
    transition: 0.4s;
}

/* contact style */
.contact{
    padding: 60px 0 0 0;
    background-color: #ededed;
}
.contact-one{
    margin-top: 50px;
}
.contact-one i{
    color: #008ed6;
    margin:0 0 13px 0;
}
.contact-one p{
    margin-bottom: 0;
    color: #999999;
    font-size: 18px;

}
.contact-form{
    background-color: black;
    padding: 54px 75px;
    width: 60%;
    margin: 70px auto 0 auto;
}
.form-group input{
    border: 1px solid #535050;
    padding: 10px 0;
    margin: 8px 0;
    outline: none;
    background: transparent;
}
.form-group input:focus{
    background-color: transparent;
    outline: none;
    color: white;
}
.form-group textarea{
    border: 1px solid #535050;
    padding: 4px 0;
    margin: 8px 0;
    background: transparent;  
}
.form-group textarea:focus{
    background-color: transparent;
    outline: none;
    color: white;
}
.send-button{
    text-align: right;
}
.send-button button{
    padding: 12px 32px;
    margin-top: 15px;
    background: #008ed6;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 4px;
}

.indicator{
    z-index: 9999;
}
/* map style */
.map{
    z-index: -999 !important;
    margin-top: -80px;
    margin-bottom: 0;
}
/* footer style */

.footer{
    background: #15141a;
    padding: 44px;
    text-align: center;
}
.icons{
    margin-top: 15px;
}
.icons i{
    margin: 0px 10px 20px 10px;
    color: #999999;
}
.icons i:hover{
    cursor: pointer;
    color: #008ed6;
}
.icons p{
    color: #999999;
    word-spacing: 1px;
}